<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tap-Out.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07ABF79C1D837B3500773E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07ABF7B01D837B3600773E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07ABF7BB1D837B3600773E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
